In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\shama\\Data science'

In [3]:
os.listdir()

['.ipynb_checkpoints', 'Untitled.ipynb']

In [4]:
os.makedirs("new Folder")

In [5]:
os.listdir()

['.ipynb_checkpoints', 'new Folder', 'Untitled.ipynb']

In [10]:
'''pythonvs vs excel
* limitation by size
* complex data transformation
* automation
* cross platform capabilities'''

'pythonvs vs excel\n* limitation by size\n* complex data transformation\n* automation\n* cross platform capabilities'

In [11]:
''' dataframe has two axis x and y
i.e rows and columns'''

' dataframe has two axis x and y\ni.e rows and columns'

In [15]:
''' excel ------------------>>   pandas
worksheet                        dataframes
column                           series
row heading                      index
row                              row
empty cell                       NaN'''

' excel ------------------>>   pandas\nworksheet                        dataframes\ncolumn                           series\nrow heading                      index\nrow                              row\nempty cell                       NaN'

In [17]:
'''np.array([1,4],[2,5],[3,6])

       col1     col2
____________________
        1        4
        2        5
        3        6         '''

'np.array([1,4],[2,5],[3,6])\n\n       col1     col2\n____________________\n        1        4\n        2        5\n        3        6         '

import pandas as pd
import numpy as np

What is NumPy?

NumPy (Numerical Python) is a Python library used for:

Fast mathematical calculations

Working with arrays (like lists, but faster and more powerful)

Doing matrix computation (important for machine learning)

ðŸ”¹ Example use:

Adding numbers fast

Working with 1D, 2D, or 3D arrays (vectors, matrices)

Scientific and mathematical operations


What is Pandas?

Pandas is a Python library used for:

Handling data tables (rows & columns)

Data cleaning

Data analysis and manipulation

ðŸ”¹ Example use:

Working with CSV, Excel, SQL data

Filtering rows, selecting columns

Handling missing values

1  creating a dataframe from an array

Why NumPy removes the commas?

Because NumPy displays arrays in a compact mathematical format, similar to matrices:

In [18]:
#option 1 creating an array

In [4]:
import pandas as pd
import numpy as np
data=np.array([[1,4],[2,5],[3,6]])
print(data)
data1=np.array([1,2,3,4])
print(data1)

[[1 4]
 [2 5]
 [3 6]]
[1 2 3 4]

In [9]:
#creating a dataframe
pd.DataFrame(data,index=['r1','r2','r3'],columns=['col1','col2'])

    col1  col2
r1     1     4
r2     2     5
r3     3     6

2. Creating a DataFrame from a dictionary

In [10]:
#lists used forthis example
states=['karnataka','MP','UP','Maha']
population=[11,22,33,44]

In [11]:
dic={'states':states,'population':population}

In [12]:
print(dic)

{'states': ['karnataka', 'MP', 'UP', 'Maha'], 'population': [11, 22, 33, 44]}

In [13]:
pd.DataFrame(dic)

      states  population
0  karnataka          11
1         MP          22
2         UP          33
3       Maha          44

In [16]:
pd.DataFrame(dic,index=['r1','r2','r3','r4'])

       states  population
r1  karnataka          11
r2         MP          22
r3         UP          33
r4       Maha          44

3. CReating a Dataframe from a csv file

In [20]:
df=pd.read_csv('bestsellers with categories.csv')

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [22]:
#show first 5 row
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [23]:
#show last 5 rows
df.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [24]:
#show last n rows in a dataframe
df.tail(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [30]:
#getting access to the shape attribute
df.shape

(550, 7)

In [42]:
#display n rows
pd.set_option('display.max_rows',100)
df = pd.read_csv('bestsellers with categories.csv')
print(df)

                                                  Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]


PANDAS


ATTRIBUTES--THE VALUE ASSOCIATED WITH AN OBJECT  df.columns
FUNCTION--- PYTHON BUILT-IN FUNCTIONS min(),max(),len()
METHODS--- Afunction which is defined inside a class body

In [ ]:
1  ATTRIIBUTES

In [44]:
df.index

RangeIndex(start=0, stop=550, step=1)

In [45]:
df.shape

(550, 7)

In [47]:
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [49]:
#data type of each column
df.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [50]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

2 METHODS

In [51]:
#showing first 5 columns
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [53]:
df.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

3 FUNCTIONS

In [54]:
#obtaining the length of the dataframe i.e no of rows
len(df)

550

In [58]:
max(df)

'Year'

In [59]:

max(df.index)

549

In [61]:
#obtaining the data type
type(df)

pandas.core.frame.DataFrame

In [63]:
#rounding the values of the dataset
round(df,0)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,5.0,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,5.0,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,5.0,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,5.0,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,5.0,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,5.0,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,5.0,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,5.0,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,5.0,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,5.0,14331,8,2019,Non Fiction

1 SELECTING ONE COLUMN

# 1.1 Syntax 1
#select a column with[]
df['Author']

In [69]:
#check out the data type of a column
type(df['Author'])

pandas.core.series.Series

In [70]:
df['Author'].head()

0                    JJ Smith
1                Stephen King
2          Jordan B. Peterson
3               George Orwell
4    National Geographic Kids
Name: Author, dtype: object

In [73]:
df['Author'].index

RangeIndex(start=0, stop=550, step=1)

1.2 SYNTAX

In [77]:
#select a column with .
df.Author

0                      JJ Smith
1                  Stephen King
2            Jordan B. Peterson
3                 George Orwell
4      National Geographic Kids
                 ...
545                 Jeff Kinney
546                 Jen Sincero
547                 Jen Sincero
548                 Jen Sincero
549                 Jen Sincero
Name: Author, Length: 550, dtype: object

In [79]:
#select the same using []
df['Author']

0                      JJ Smith
1                  Stephen King
2            Jordan B. Peterson
3                 George Orwell
4      National Geographic Kids
                 ...
545                 Jeff Kinney
546                 Jen Sincero
547                 Jen Sincero
548                 Jen Sincero
549                 Jen Sincero
Name: Author, Length: 550, dtype: object

SELECT TWO OR MORE COLUMNS

In [80]:
#select 2 columns using [[]]
df[['Name','Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

In [81]:
type(df[['Name','Author']])

pandas.core.frame.DataFrame

In [84]:
df[['Price','Year','Name','Author']]

,Price,Year,Name,Author
0,8,2016,10-Day Green Smoothie Cleanse,JJ Smith
1,22,2011,11/22/63: A Novel,Stephen King
2,15,2018,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,6,2017,1984 (Signet Classics),George Orwell
4,12,2019,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...,...,...
545,8,2019,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,8,2016,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,8,2017,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,8,2018,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,8,2019,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

In [85]:
#we cannot select 2 or more columns with "."
df.'Author','Name'

SyntaxError: invalid syntax (4043106476.py, line 2)

ADDING A NEW COLUMN

In [98]:
#1.1 Adding a new column with a scaler value


df

,Name,Author,User Rating,Reviews,Price,Year,Genre,Language Score
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,70
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,70
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,70
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,70
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,70
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,70
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,70
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,70
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,70
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,70

In [89]:
#1.2 Adding a new column with an array
#The datafarme has 550 rows , so we neeed to create an array with 550 elements

In [91]:
#import numpy
import numpy as np

In [96]:
#create an array of 550 elements
language_score=np.arange(0,550)

In [97]:
len(language_score)

550

In [99]:
df['Language Score']=language_score

In [100]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre,Language Score
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,549

In [103]:
#Create a random integer number between1 and 100
int_language_score=np.random.randint(1,100,size=550)
int_language_score

array([11, 71, 16, 96, 11, 84, 93, 84, 79, 22, 16, 20, 71, 26, 69, 85,  1,
       29, 88, 92, 28, 25, 87, 76, 96, 36, 65, 42, 78, 81, 88, 75, 76, 48,
       99, 69, 38, 88, 95, 72, 85, 55, 75, 28, 82, 89,  4, 48, 30,  7, 55,
       30, 51, 91, 24, 74, 39, 94, 14, 38, 21,  7, 49, 20, 13, 30, 41, 85,
       84, 57, 78, 74, 84, 11, 29, 36, 27, 79, 46, 96, 90, 72, 99, 14, 71,
       80, 70, 45, 39, 58, 63, 40, 93, 19, 13, 53, 50, 80, 23, 19, 43, 94,
       81, 32, 24, 10, 97, 96, 20, 67,  4, 35, 94, 22, 42, 36, 50,  7, 40,
       50, 44, 51, 11, 33, 18, 69, 80, 45, 20, 83,  2, 50, 79, 58, 43, 78,
       94, 69, 62, 45, 25,  1, 40, 39, 18, 46, 24, 75, 18, 40, 24, 23, 28,
       67, 53,  7, 22, 78, 62, 23, 72, 28, 91, 89, 90, 42, 37, 69, 31, 90,
       39, 65, 75, 39, 39, 13,  6, 25, 16, 26, 24,  5, 57, 82, 83, 46, 77,
       80, 39, 96, 87,  3, 37, 11, 31, 35, 63, 71, 77, 44, 98, 27, 75, 93,
       37, 70, 79, 55, 37, 80, 61, 91, 37, 48,  3, 22, 20, 62, 25, 53, 26,
       52, 58, 96, 21, 24, 40, 22, 65, 37, 12, 44, 82, 31, 75, 93, 70, 88,
       16, 93, 94,  8, 87, 35, 42, 16, 61,  7, 77, 73, 20, 53, 73, 39,  7,
       76, 26, 95, 50, 20, 84, 80, 24, 27, 95, 42, 66, 37, 46, 85, 65, 44,
       62, 73,  4, 80, 54, 35, 24, 47, 69, 59, 53, 23, 63, 80, 32,  3, 27,
        7, 32, 92, 21, 52, 37, 56, 65, 69, 90, 57,  4, 14, 20, 32, 15, 78,
       79, 35, 53, 66, 58, 10, 95, 67, 47, 46,  4, 10, 32, 54, 68, 40, 45,
       87, 31,  5, 49,  7, 27, 69, 11, 15,  2, 32, 86, 57,  7, 89, 29,  4,
       64, 85, 66, 17, 28,  5, 99,  2,  3, 90, 87, 41, 25,  8, 49, 15, 49,
       88, 28, 15, 77, 44, 27, 45, 61, 10, 79, 15, 98, 39, 93,  3,  2, 74,
       56, 23, 96, 92, 34, 47, 31,  7, 31, 91, 14, 91, 83, 63, 54, 31, 10,
       19, 84, 86, 67, 43, 85, 89, 79, 65, 59, 43, 54, 28, 66, 28, 40, 25,
        3, 48, 44, 47, 15, 17, 23, 10, 52,  4, 59, 59, 76, 68, 16, 19, 21,
       99,  5, 54, 58, 73, 91, 75, 10,  5, 91, 65, 21, 21, 31, 65,  3, 68,
       30, 87,  4, 19, 80, 29, 91, 21, 52, 96,  8, 57, 15, 25, 30, 82, 33,
       33, 53,  5, 83, 68, 19,  2, 80, 24, 48,  5, 94, 95, 61, 73, 62, 18,
       12, 37, 45, 20, 14, 99, 84, 19, 28, 75, 43,  9, 94, 88, 74, 77, 65,
       39, 70, 34, 91, 71, 88, 69, 79, 43, 77, 66, 65, 32, 11,  3, 66, 44,
       98, 53, 93, 98, 35, 90, 76, 94, 89, 52, 69, 93, 16, 67, 57, 18, 16,
       54, 89, 63, 54, 21, 65, 99, 97, 15, 37, 89, 59, 96, 81,  9, 58, 57,
       86, 69, 57, 84, 71, 43], dtype=int32)

In [104]:
df['Language Score']=int_language_score

In [105]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre,Language Score
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,11
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,71
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,16
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,96
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,11
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,69
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,57
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,84
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,71
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,43

In [106]:
# Create random float numbers  between 1 and 100
fl=np.random.uniform(1,100,size=550)
df['Language Score']=fl
df

,Name,Author,User Rating,Reviews,Price,Year,Genre,Language Score
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2.716478
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,71.674620
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,80.119007
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,59.054255
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,78.535957
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,60.231447
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,56.012368
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,41.355860
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,61.258631
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568

Adding a new column
1.1 assign()

when to use assign?
* Add multiple columns in a single line of code
*when you need to overwrite the vaues of an existing columns(best practice)

it returns a new object(a copy) with all the original columns in addition to the new ones

In [107]:
import numpy as np
#craete a random numbers for our new score columns

In [108]:
s1=np.random.randint(1,100,size=550)
s2=np.random.randint(1,100,size=550)

In [119]:
#create a series using the random numbers
se1=pd.Series(s1,index=np.arange(0,550))
se2=pd.Series(s2,index=np.arange(0,550))

In [117]:
se1

0      43
1      75
2      13
3      92
4      86
       ..
545    76
546     2
547     8
548    19
549    57
Length: 550, dtype: int32

In [114]:
se2

0      68
1      32
2      41
3      49
4      66
       ..
545    24
546    73
547    60
548    54
549    49
Length: 550, dtype: int32

In [121]:
#using assign() to add
df.assign(score1=se1,score2=se2)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Language Score,score1,score2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2.716478,43,68
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,71.674620,75,32
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,80.119007,13,41
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,59.054255,92,49
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,78.535957,86,66
...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,60.231447,76,24
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,56.012368,2,73
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,41.355860,8,60
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,61.258631,19,54
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568,57,49

In [122]:
#1.2 insert()
df.insert(1,'test',se1)

In [123]:
df

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score
0,10-Day Green Smoothie Cleanse,43,JJ Smith,4.7,17350,8,2016,Non Fiction,2.716478
1,11/22/63: A Novel,75,Stephen King,4.6,2052,22,2011,Fiction,71.674620
2,12 Rules for Life: An Antidote to Chaos,13,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,80.119007
3,1984 (Signet Classics),92,George Orwell,4.7,21424,6,2017,Fiction,59.054255
4,"5,000 Awesome Facts (About Everything!) (Natio...",86,National Geographic Kids,4.8,7665,12,2019,Non Fiction,78.535957
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),76,Jeff Kinney,4.9,9413,8,2019,Fiction,60.231447
546,You Are a Badass: How to Stop Doubting Your Gr...,2,Jen Sincero,4.7,14331,8,2016,Non Fiction,56.012368
547,You Are a Badass: How to Stop Doubting Your Gr...,8,Jen Sincero,4.7,14331,8,2017,Non Fiction,41.355860
548,You Are a Badass: How to Stop Doubting Your Gr...,19,Jen Sincero,4.7,14331,8,2018,Non Fiction,61.258631
549,You Are a Badass: How to Stop Doubting Your Gr...,57,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568

In [124]:
df['Price'].sum()

np.int64(7205)

In [129]:
df['Price'].mean()

np.float64(13.1)

In [130]:
df['Price'].count()

np.int64(550)

In [131]:
df['Price'].min()

0

In [132]:
df['Price'].max()

105

In [133]:
df['Price'].std()

10.84226197842238

In [134]:
df.describe()

,test,User Rating,Reviews,Price,Year,Language Score
count,550.000000,550.000000,550.000000,550.000000,550.000000,550.000000
mean,50.785455,4.618364,11953.281818,13.100000,2014.000000,51.004604
std,28.060327,0.226980,11731.132017,10.842262,3.165156,28.170370
min,1.000000,3.300000,37.000000,0.000000,2009.000000,1.504964
25%,26.000000,4.500000,4058.000000,7.000000,2011.000000,25.843301
50%,53.000000,4.700000,8580.000000,11.000000,2014.000000,52.200282
75%,74.000000,4.800000,17253.250000,16.000000,2017.000000,73.608942
max,99.000000,4.900000,87841.000000,105.000000,2019.000000,99.622951

OPERATION IN ROWS
#calculate the sum of three column in a row

In [141]:
# test	User Rating	Reviews	Price	
avg=df['test'] + df['Reviews'] +  df['Price']

In [140]:
df.assign(Average=df['test'] + df['Reviews'] +  df['Price'])
#or df['Average']=df['test'] + df['Reviews'] +  df['Price']

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score,average,Average
0,10-Day Green Smoothie Cleanse,43,JJ Smith,4.7,17350,8,2016,Non Fiction,2.716478,17401,17401
1,11/22/63: A Novel,75,Stephen King,4.6,2052,22,2011,Fiction,71.674620,2149,2149
2,12 Rules for Life: An Antidote to Chaos,13,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,80.119007,19007,19007
3,1984 (Signet Classics),92,George Orwell,4.7,21424,6,2017,Fiction,59.054255,21522,21522
4,"5,000 Awesome Facts (About Everything!) (Natio...",86,National Geographic Kids,4.8,7665,12,2019,Non Fiction,78.535957,7763,7763
...,...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),76,Jeff Kinney,4.9,9413,8,2019,Fiction,60.231447,9497,9497
546,You Are a Badass: How to Stop Doubting Your Gr...,2,Jen Sincero,4.7,14331,8,2016,Non Fiction,56.012368,14341,14341
547,You Are a Badass: How to Stop Doubting Your Gr...,8,Jen Sincero,4.7,14331,8,2017,Non Fiction,41.355860,14347,14347
548,You Are a Badass: How to Stop Doubting Your Gr...,19,Jen Sincero,4.7,14331,8,2018,Non Fiction,61.258631,14358,14358
549,You Are a Badass: How to Stop Doubting Your Gr...,57,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568,14396,14396

In [142]:
df

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score,average
0,10-Day Green Smoothie Cleanse,43,JJ Smith,4.7,17350,8,2016,Non Fiction,2.716478,17401
1,11/22/63: A Novel,75,Stephen King,4.6,2052,22,2011,Fiction,71.674620,2149
2,12 Rules for Life: An Antidote to Chaos,13,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,80.119007,19007
3,1984 (Signet Classics),92,George Orwell,4.7,21424,6,2017,Fiction,59.054255,21522
4,"5,000 Awesome Facts (About Everything!) (Natio...",86,National Geographic Kids,4.8,7665,12,2019,Non Fiction,78.535957,7763
...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),76,Jeff Kinney,4.9,9413,8,2019,Fiction,60.231447,9497
546,You Are a Badass: How to Stop Doubting Your Gr...,2,Jen Sincero,4.7,14331,8,2016,Non Fiction,56.012368,14341
547,You Are a Badass: How to Stop Doubting Your Gr...,8,Jen Sincero,4.7,14331,8,2017,Non Fiction,41.355860,14347
548,You Are a Badass: How to Stop Doubting Your Gr...,19,Jen Sincero,4.7,14331,8,2018,Non Fiction,61.258631,14358
549,You Are a Badass: How to Stop Doubting Your Gr...,57,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568,14396

In [143]:
#1 Value Counts


#counting gender elements
df['Author'].count()

np.int64(550)

In [144]:
df['Author'].value_counts()

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

In [148]:
df['Author'].value_counts(normalize=True)
#retuen the relative frequency

Author
Jeff Kinney                           0.021818
Gary Chapman                          0.020000
Rick Riordan                          0.020000
Suzanne Collins                       0.020000
American Psychological Association    0.018182
                                        ...
Keith Richards                        0.001818
Chris Cleave                          0.001818
Alice Schertle                        0.001818
Celeste Ng                            0.001818
Adam Gasiewski                        0.001818
Name: proportion, Length: 248, dtype: float64

In [149]:
#sort by one column
df.sort_values(by='Author')

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score,average
56,Cutting for Stone,6,Abraham Verghese,4.6,4866,11,2010,Fiction,47.004073,4883
57,Cutting for Stone,58,Abraham Verghese,4.6,4866,11,2011,Fiction,9.931779,4935
232,Milk and Vine: Inspirational Quotes From Class...,4,Adam Gasiewski,4.4,3113,6,2017,Non Fiction,12.183749,3123
133,Go the F**k to Sleep,65,Adam Mansbach,4.8,9568,9,2011,Fiction,59.550345,9642
529,What Should Danny Do? (The Power to Choose Ser...,50,Adir Levy,4.8,8170,13,2019,Fiction,76.808471,8233
...,...,...,...,...,...,...,...,...,...,...
265,Player's Handbook (Dungeons & Dragons),69,Wizards RPG Team,4.8,16990,27,2017,Fiction,21.461498,17086
266,Player's Handbook (Dungeons & Dragons),79,Wizards RPG Team,4.8,16990,27,2018,Fiction,24.250211,17096
267,Player's Handbook (Dungeons & Dragons),61,Wizards RPG Team,4.8,16990,27,2019,Fiction,69.149026,17078
78,Divine Soul Mind Body Healing and Transmission...,60,Zhi Gang Sha,4.6,37,6,2009,Non Fiction,97.270986,103
300,Soul Healing Miracles: Ancient and New Sacred ...,22,Zhi Gang Sha,4.6,220,17,2013,Non Fiction,95.935713,259

In [150]:
df.sort_values('Year',ascending=False)

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score,average
549,You Are a Badass: How to Stop Doubting Your Gr...,57,Jen Sincero,4.7,14331,8,2019,Non Fiction,93.177568,14396
294,School Zone - Big Preschool Workbook - Ages 4 ...,54,School Zone,4.8,23047,6,2019,Non Fiction,63.278039,23107
489,The Wonderful Things You Will Be,65,Emily Winfield Martin,4.9,8842,10,2019,Fiction,27.513696,8917
263,P is for Potty! (Sesame Street) (Lift-the-Flap),31,Naomi Kleinberg,4.7,10820,5,2019,Non Fiction,10.195216,10856
130,"Girl, Wash Your Face: Stop Believing the Lies ...",93,Rachel Hollis,4.6,22288,12,2019,Non Fiction,40.660805,22393
...,...,...,...,...,...,...,...,...,...,...
418,The Last Olympian (Percy Jackson and the Olymp...,6,Rick Riordan,4.8,4628,7,2009,Fiction,17.473697,4641
38,"Breaking Dawn (The Twilight Saga, Book 4)",5,Stephenie Meyer,4.6,9769,13,2009,Fiction,88.391859,9787
92,"Eat This, Not That! Thousands of Simple Food S...",53,David Zinczenko,4.3,956,14,2009,Non Fiction,12.255695,1023
139,Good to Great: Why Some Companies Make the Lea...,92,Jim Collins,4.5,3457,14,2009,Non Fiction,32.199870,3563
299,Sookie Stackhouse,74,Charlaine Harris,4.7,973,25,2009,Fiction,90.220429,1072

In [151]:
df.sort_values(['Year','Price'],ascending=False)

,Name,test,Author,User Rating,Reviews,Price,Year,Genre,Language Score,average
267,Player's Handbook (Dungeons & Dragons),61,Wizards RPG Team,4.8,16990,27,2019,Fiction,69.149026,17078
291,"Salt, Fat, Acid, Heat: Mastering the Elements ...",37,Samin Nosrat,4.8,7802,20,2019,Non Fiction,87.195278,7859
44,Can't Hurt Me: Master Your Mind and Defy the Odds,87,David Goggins,4.8,16244,18,2019,Non Fiction,17.386372,16349
155,Harry Potter and the Goblet of Fire: The Illus...,32,J. K. Rowling,4.9,7758,18,2019,Fiction,57.516215,7808
171,Howard Stern Comes Again,92,Howard Stern,4.3,5272,16,2019,Non Fiction,35.703782,5380
...,...,...,...,...,...,...,...,...,...,...
25,Arguing with Idiots: How to Stop Small Minds a...,32,Glenn Beck,4.6,798,5,2009,Non Fiction,45.051754,835
60,Dead And Gone: A Sookie Stackhouse Novel (Sook...,11,Charlaine Harris,4.6,1541,4,2009,Fiction,46.413810,1556
160,Have a Little Faith: A True Story,90,Mitch Albom,4.8,1930,4,2009,Non Fiction,94.651715,2024
388,The Girl with the Dragon Tattoo (Millennium Se...,16,Stieg Larsson,4.4,10559,2,2009,Fiction,97.570648,10577
91,Eat This Not That! Supermarket Survival Guide:...,76,David Zinczenko,4.5,720,1,2009,Non Fiction,9.857789,797