In [21]:
import pandas as pd

1 READ A .CSV FROM A URL WITH PANDAS

Target website:https://www.football-data.co.uk/data.php

In [22]:
#reading 1 csv file from the website
df_PL2526=pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [23]:
df_PL2526

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,E0,22/11/2025,15:00,Wolves,Crystal Palace,0,2,A,0,0,...,1.85,2.00,1.85,2.09,1.85,2.02,1.78,1.99,1.87,2.13
116,E0,22/11/2025,17:30,Newcastle,Man City,2,1,H,0,0,...,1.90,1.95,1.99,1.93,1.90,1.95,1.86,1.90,2.02,1.97
117,E0,23/11/2025,14:00,Leeds,Aston Villa,1,2,A,1,0,...,1.93,1.93,1.94,1.98,1.93,1.93,1.86,1.85,1.99,2.00
118,E0,23/11/2025,16:30,Arsenal,Tottenham,4,1,H,2,0,...,1.80,2.05,1.83,2.12,1.83,2.10,1.74,2.06,1.84,2.16
119,E0,24/11/2025,20:00,Man United,Everton,0,1,A,0,1,...,1.88,1.98,1.91,2.01,1.95,1.98,1.83,1.93,1.92,2.07

In [24]:
df_PL2526.rename(columns={'FTHG':'home_goal','FTAG':'away_goal'},inplace=True)

In [25]:
df_PL2526

,Div,Date,Time,HomeTeam,AwayTeam,home_goal,away_goal,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,E0,22/11/2025,15:00,Wolves,Crystal Palace,0,2,A,0,0,...,1.85,2.00,1.85,2.09,1.85,2.02,1.78,1.99,1.87,2.13
116,E0,22/11/2025,17:30,Newcastle,Man City,2,1,H,0,0,...,1.90,1.95,1.99,1.93,1.90,1.95,1.86,1.90,2.02,1.97
117,E0,23/11/2025,14:00,Leeds,Aston Villa,1,2,A,1,0,...,1.93,1.93,1.94,1.98,1.93,1.93,1.86,1.85,1.99,2.00
118,E0,23/11/2025,16:30,Arsenal,Tottenham,4,1,H,2,0,...,1.80,2.05,1.83,2.12,1.83,2.10,1.74,2.06,1.84,2.16
119,E0,24/11/2025,20:00,Man United,Everton,0,1,A,0,1,...,1.88,1.98,1.91,2.01,1.95,1.98,1.83,1.93,1.92,2.07

2 READ CSV from multiple urls with pandas
https://www.football-data.co.uk/mmz4281/2526/E0.csv
https://www.football-data.co.uk/mmz4281/2526/E1.csv
https://www.football-data.co.uk/mmz4281/2526/E2.csv
https://www.football-data.co.uk/mmz4281/2526/E3.csv
https://www.football-data.co.uk/mmz4281/2526/EC.csv

In [28]:
root="https://www.football-data.co.uk/mmz4281/"
leagues=['E0','E1','E2','E3','EC']
frames=[]
for league in leagues:
    df=pd.read_csv(root + '2526' + '/' + league +'.csv')
    frames.append(df)

In [30]:
'''leagues=['E0','E1','E2','E3','EC']
frames=[]
for league in leagues:
    for season in range(15,21):
     df=pd.read_csv(root +str(season) +str(season+1)+ '/' + league +'.csv')
     frames.append(df)'''

"leagues=['E0','E1','E2','E3','EC']\nframes=[]\nfor league in leagues:\n    for season in range(15,21):\n     df=pd.read_csv(root +str(season) +str(season+1)+ '/' + league +'.csv')\n     frames.append(df)"

In [ ]:
len(frames)

In [ ]:
frames[0]

In [ ]:
frame[17]